.details{
    width:30%;
    margin-top:17%;
    margin-left: 15px;
    color: white;
    font-size: 25px;
    position: absolute;
}

.cart{
    
    margin-top: 15%;
    position: absolute;
    margin-left: 33%;
    
    
}


